.cart_music-container {
  display: flex;
  gap: 5px;
  padding: 5px;
  margin-left: 6px;
  align-items: center;
  width: 50%;

}

.cart_music-container img {
  width: 2.5rem;
}

.cart_music-container:hover {
  background: rgb(163, 163, 163);
  border-radius: 3px;
  transition: .2s;

}

.cart_music-information {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.cart_music-name {
  font-size: 0.975rem;
}

.cart_music-author {
  font-size: 0.750rem;
}
