.cart_music-container {
  display: flex;
}

.cart_music {
  display: flex;
  flex-direction: row;
  padding: 5px;
  margin: 0 auto;
  justify-content: space-between;
  width: 100%;

}

.cart_music img {
  width: 2.5rem;
}

.cart_music:hover {
  background:rgba(255, 255, 255, 0.18);
  border-radius: 6px;
  transition: 0.4s;
}

.cart_music-left_information,
.cart_music-right_information {
  display: flex;
  align-items: center;
  gap: 7px;
}

.cart_music-name,
.cart_music-right_information,
.cart_music-artist{
  color: #e6e6e6;
}

.cart_music-artist {
  color: #4d4d4d;
}

.cart_music-right_information {
  justify-content: end;

}

.cart_music-name {
  font-size: 0.975rem;
}

.cart_music-artist {
  font-size: 0.750rem;
}
